@import "tailwindcss";

@theme inline {
  --font-opensans: 'OpenSans', sans-serif;
  --font-sourcesans3: 'SourceSans3', sans-serif;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/OpenSans.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSans3';
  src: url('/SourceSans3.ttf') format('truetype');
}

/* Hide scrollbar */
html {
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}