@import "tailwindcss";

@theme inline {
  --font-centrabook: 'CentraNo2-Book', sans-serif;
  --font-centrathin: 'CentraNo2-Thin', sans-serif;
  --font-glacialbold: 'GlacialIndifference-Bold', sans-serif;
  --font-glacialregular: 'GlacialIndifference-Regular', sans-serif;
}

@font-face {
  font-family: 'CentraNo2-Book';
  src: url('/fonts/CentraNo2-Book.otf') format('opentype');
  font-weight: 400;

}


@font-face {
  font-family: 'CentraNo2-Thin';
  src: url('/fonts/CentraNo2-Thin.otf') format('opentype');
  font-weight: 100;

}

@font-face {
  font-family: 'GlacialIndifference-Bold';
  src: url('/fonts/GlacialIndifference-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'GlacialIndifference-Regular';
  src: url('/fonts/GlacialIndifference-Regular.otf') format('opentype');
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}